.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  margin-right: 16px;
  font-size: 20px;
  font-weight: 500;
}

.content-container {
  padding: 20px;
}

/* Style pour le lien actif dans la liste de navigation */
.active-link {
  background-color: rgba(0, 0, 0, 0.04);
  color: #3f51b5; /* Couleur primaire */
  font-weight: 500;
}

/* Style pour les icônes dans le menu */
mat-icon[matListItemIcon] {
  margin-right: 8px;
  color: #616161;
}

.active-link mat-icon[matListItemIcon] {
  color: #3f51b5; /* Couleur primaire pour l'icône du lien actif */
}
